{% extends "AccomplishmentTracker/AccomplishmentTracker_homeFS.html" %}

{% block title %}Delete Recipe{% endblock %}

{% block additional_styles %}
    background-image: url("/static/images/CookieJar_Create.png");
{% endblock %}

{% block content %}
<h1>Delete</h1>
<form method="POST">
        {% csrf_token %}
        <h3>Permanently delete Accomplishment: "{{ entry.Title }}"?</h3>
        <br>
        <button class="Delete" type="submit">YES!</button>
    </form>
<button type="submit"><a href="{% url 'cookie_update' entry.id %}">NOPE!</a></button>
{% endblock %}